html {
  height: 100%;
  font-family: "Luckiest Guy Regular";
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/assets/img/3. Background/Body/iStock-1714438751.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  background-color: black;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: block;
  z-index: 1;
}

.opaque {
  opacity: 0.5;
}

@font-face {
  font-family: "Luckiest Guy Regular";
  src: url("/assets/fonts/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#btn-start {
  width: 30%;
  max-width: 350px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 20%;
  animation: sizeAnimation 3s infinite alternate both ease-in-out;
}

#img-instructions {
  width: 50%;
  max-width: 750px;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media screen and (max-height: 480px) {
  canvas {
    height: 100svh;
  }
  h1 {
    display: none;
  }
  #img-instructions {
    display: none;
  }
  #gamepad-left {
    display: flex;
  }
}

@media screen and (min-height: 480px) {
  .gamepad {
    display: none;
  }
}


@keyframes sizeAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.gamepad {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 80px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.1); /* Transparenter Hintergrund */
  border-radius: 20px;
  backdrop-filter: blur(10px); /* Blur-Effekt */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.button {
  width: 60px;
  height: 60px;
  background-color: #7FFFE0; /* Fläche im Button */
  border-radius: 50%;
  border: 2px solid white; /* Weißer Rand */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.button svg {
  fill: #531A82; /* Farbe für den Pfeil */
  width: 30px;
  height: 30px;
 
}

.up svg path,
.down svg path,
.left svg path,
.right svg path {
  transition: fill 0.3s ease; /* Animiere die Farbänderung des Pfeils */
}

.up:hover svg path,
.down:hover svg path,
.left:hover svg path,
.right:hover svg path {
  fill: #fff; /* Ändere die Farbe des Pfeils bei Hover */
}

