html {
  font-family: "Luckiest Guy Regular";
}

body {
  height: 100svh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/assets/img/3. Background/Body/iStock-1714438751.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

canvas {
  background-color: black;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: block;
  z-index: 1;
}

h1 {
  color: #531A82;
}

.opaque {
  opacity: 0.5;
}

@font-face {
  font-family: "Luckiest Guy Regular";
  src: url("/assets/fonts/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#btn-start {
  width: 30%;
  max-width: 350px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 20%;
  
}

.animate-size {
  animation: sizeAnimation 3s infinite alternate both ease-in-out;
}

#img-instructions {
  width:50%;
  max-width: 715px;
  min-width: 20%; 
}

#button-controls {
  position: fixed;
  bottom: 150px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#button-controls img {
  height: 50px;
}

@media only screen and (max-width: 850px) {
  canvas {
    width: 75%;
  }
}

@media screen and (max-height: 480px) {
  canvas {
    height: 100svh;
  }
  h1 {
    display: none;
  }
  #img-instructions {
    display: none;
  }
  #button-impressum {
    display: none;
  }
  #button-controls {
    display: none;
  }
  .gamepad{
    display: flex;
  }
  body {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-height: 480px) {
  .gamepad {
    display: none;
  }
}

@media screen and (max-height: 915px) {
  #img-instructions {
    display: none;
  }

}

@keyframes sizeAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.gamepad {
  width: 80px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.1); /* Transparenter Hintergrund */
  border-radius: 20px;
  backdrop-filter: blur(10px); /* Blur-Effekt */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#gamepad-right {
  height: 200px !important;
}

.button {
  width: 60px;
  height: 60px;
  background-color: #7FFFE0; /* Fläche im Button */
  border-radius: 50%;
  border: 2px solid white; /* Weißer Rand */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.button svg {
  fill: #531A82; /* Farbe für den Pfeil */
  width: 30px;
  height: 30px;
 
}

.up svg path,
.down svg path,
.left svg path,
.right svg path {
  transition: fill 0.3s ease; /* Animiere die Farbänderung des Pfeils */
}

.up:hover svg path,
.down:hover svg path,
.left:hover svg path,
.right:hover svg path {
  fill: #fff; /* Ändere die Farbe des Pfeils bei Hover */
}

.button p {
  color: #531A82;
  font-size: smaller;
  text-align: center;
}

.button p:hover {
  color:#fff;
}

dialog:-internal-dialog-in-top-layer::backdrop  {
  backdrop-filter: blur(10px);
}
dialog {
  background-color: black;
  color: white;
  border-width: 0;
  font-size: xx-large;
  border-radius: 20px;
  border-style: none !important;
  border-image: unset;
  border-color: unset;
}

#dialog-device-orientation-message {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

dialog img {
  width: 50%;
}

dialog ::backdrop {
  backdrop-filter: blur(10px);
}


#button-impressum {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#button-impressum img {
  height: 50px;
}

#dialog-impressum {
  background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund */
  color: white;
  font-size: 18px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  text-align: left;
  max-width: 80%;
}

#dialog-impressum-close-btn {
  all: initial;
  width: 10%;
  cursor: pointer;
}

#dialog-lose-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

#dialog-win-box {
  background-color: initial;
}

#dialog-win-box img {
  width: 100%;
  display: flex;
  max-width: 700px;
  cursor: pointer
}

#dialog-lose-box {
  height: 30%;
  background-color: #201B4E !important;
}

#dialog-lose-box img {
  cursor: pointer;
}

#dialog-win-picture-container {
  display: flex;
  justify-content: center;
  flex-direction: column;  
  align-items: center;
  gap: 50px;

}

#dialog-instructions-box {
  background-color: #201B4E;
}

#dialog-instructions-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#dialog-instructions-picture-container div {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  width: 75%;
}

#img-instructions-attack1 {
  width: 10%
}

#img-instructions-move {
  width: 40%
}

 /* Tooltip container */
 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 